.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}

.dropdown {
  position: relative;
}

.dropdown_menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: rgba(0, 0, 0, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  list-style: none;
  width: 225px;
  z-index: 1;
}

.dropdown_menu li {
  font-size: 14px;
  font-weight: 200;
  padding: 12px 16px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown_menu li:hover {
  background-color: var(--productBg);
  color: var(--softBg);
}
