.container {
  display: flex;
  margin-right: 10px;
}

.container_child {
  margin-top: 30px;
  padding: 0 10px;
}
.product {
  font-size: 16px;
  font-weight: 500;
}
.border {
  border-left: 1px solid var(--secondaryColor);
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
