.cart_nav {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.cart_nav a {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.cart_nav a:nth-of-type(2) {
  font-weight: 600;
  color: black;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header_container div:nth-of-type(1) {
  margin: 0px 50px;
}

.header_container div:nth-of-type(1) .header {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0px 50px;
}
.header_container div:nth-of-type(2) .sub_text {
  font-size: 16px;
  font-weight: 500;
}

.heroImg_container {
  background-color: #eb7ea8;
  position: relative;
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header_container div:nth-of-type(1) {
    margin: 0px 20px;
  }

  .header_container div:nth-of-type(1) .header {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 470px) {
  .header_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header_container div:nth-of-type(1) {
    margin-bottom: 30px;
  }

  .header_container div:nth-of-type(2) .sub_text {
    font-size: 14px;
    font-weight: 500;
  }

  .header_container div:nth-of-type(1) .header {
    font-size: 30px;
    padding: 0px 20px;
  }

  .heroImg_container {
    height: 300px;
    width: 95%;
    margin-left: 10px;
  }
}
