.cart_nav {
  margin-top: 30px;
  margin-bottom: 50px;
}

.cart_nav a {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.cart_nav a:nth-of-type(2) {
  font-weight: 600;
  color: black;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heroImg_container {
  position: relative;
  height: 100%;
  width: 100%;
}
