.hero {
  margin: 25px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 0 20px;
}

.form h2 {
  font-size: 36px;
  margin-bottom: 17px;
}
.form p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.input_group input {
  color: var(--secondaryColor);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondaryColor);
  padding-bottom: 10px;
}
.hero_child {
  position: relative;
  width: 100%;
  height: 700px;
}

.button_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}
.button_group1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.button_group a:nth-of-type(1) {
  background-color: var(--tertiaryColor);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}
.button_group a:nth-of-type(2) {
  color: var(--tertiaryColor);
}
.button_group1 .link:nth-of-type(1) {
  background-color: var(--tertiaryColor);
  color: #fff;
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
}
.button_group1 .link:nth-of-type(2) {
  color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
}
.end {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
