.container {
  margin: 20px auto;
  padding: 20px;
}

.profile_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.profile_nav div:nth-of-type(1) a:nth-of-type(1) {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.profile_nav div:nth-of-type(1) a:nth-of-type(2) {
  font-size: 14px;
  font-weight: 700;
}

.profile_nav div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 14px;
  font-weight: 400;
}

.profile_nav div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
  color: var(--tertiaryColor);
}

.profile_nav div:nth-of-type(2) span:nth-of-type(2):hover {
  transition: 0.3s ease-in;
  background-color: var(--tertiaryColorHover);
}
.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.profile_img {
  border-radius: 100%;
}

.profile_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.profile_links p {
  font-weight: 700;
  font-size: 16px;
}

.profile_links ul li {
  list-style: none;
  margin-left: 10px;
  margin-top: 5px;
}

.profile_links ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

.profile_links ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

.form {
  width: 100%;
  height: 500px;
  padding: 20px;
}

.form p {
  color: var(--tertiaryColor);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input_group {
  display: flex;
  flex-direction: column;
}
.input_group label {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}
.input_group input {
  background-color: var(--productBg);
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  padding: 10px;
  color: #7b7b7b;
}

.relative_btn {
  margin-top: 20px;
  position: relative;
}

.relative_btn div {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  right: 0;
  margin-top: 15px;
}

.relative_btn button:nth-of-type(1) {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.relative_btn button:nth-of-type(2) {
  border: none;
  background: var(--tertiaryColor);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.relative_btn button:nth-of-type(2):hover {
  transition: 0.3s ease-in;
  background-color: var(--tertiaryColorHover);
}
