.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex p {
  font-size: 36px;
  font-weight: 500;
}
.btn_group button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--productBg);
  border: none;
  cursor: pointer;
}
.btn_group button:hover {
  background-color: var(--tertiaryColor);
  transition: background 0.5s ease-in;
  color: var(--productBg);
}
.cat_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 40px;
  width: 100%;
}
.cat_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.electronics {
  background-color: #a8c7fa;
}

.fashion {
  background-color: #c7c7c7;
}

.entertainment {
  background-color: #7fcfff;
}

.gaming {
  background-color: #6dd58c;
}

.electronics_1 {
  background-color: #d3e3fd;
}
.electronics_1:hover {
  background-color: #a8c7fa;
}
.electronics_1:hover .electronics {
  background-color: #7cacf8;
}

.fashion_1 {
  background-color: #e3e3e3;
}
.fashion_1:hover {
  background-color: #c7c7c7;
}
.fashion_1:hover .fashion {
  background-color: #ababab;
}

.entertainment_1 {
  background-color: #c2e7ff;
}
.entertainment_1:hover {
  background-color: #7fcfff;
}
.entertainment_1:hover .entertainment {
  background-color: #5ab3f0;
}

.gaming_1 {
  background-color: #c4eed0;
}
.gaming_1:hover {
  background-color: #6dd58c;
}
.gaming_1:hover .gaming {
  background-color: #37be5f;
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 470px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
