:root {
  --bg: #fbfcfd;
  --secondaryColor: #d9d9d9;
  --tertiaryColor: #db4444;
  --productBg: #f5f5f5;
  --softBg: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  transition: background 0.5s;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
#fixMeDetectBox {
  margin: 0;
  padding: 0;
  display: none;
}
.dark {
  --bg: #121212;
  --textColor: #ddd;
  --softBg: #20262a;
  /* --softTextColor: #a6a6a6; */
}

.light {
  --bg: var(--bg);
  --textColor: black;
  --softBg: black;
  /* --softTextColor: #626262; */
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}
