.actions_flex {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.actions_flex button:nth-of-type(1) {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(70, 114, 190);
}

.actions_flex button:nth-of-type(2) {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--tertiaryColor);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}
.input {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input_group {
  display: flex;
  flex-direction: column;
}
.input_group label {
  color: #999999;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
.input_group input {
  background-color: var(--productBg);
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  padding: 10px;
}
.input_group textarea {
  background-color: var(--productBg);
  width: 100%;
  height: 150px;
  outline: none;
  border: none;
  padding: 10px;
}

.select {
  background-color: var(--productBg);
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  padding: 10px;
}

.submit_btn {
  background-color: var(--tertiaryColor);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.submit_btn:hover {
  transition: 0.3s ease-in;
  background-color: var(--tertiaryColorHover);
}

.submit_btn:disabled {
  cursor: not-allowed;
}

.grid {
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
